html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

:root {
  --accent: rgb(16, 7, 62);
  --white: rgb(245, 244, 237);
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.input-box {
  margin-bottom: 1rem;
}

.input-box .input:not(:last-child) {
  margin-right: 0.8rem;
}

.input {
  max-width: 2.8rem;
  min-height: 2.8rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 0.7rem;
}

.input:focus {
  outline: 0;
}

.input.error {
  border: 2px solid red;
}

.button {
  padding: 0.5rem 3.5rem;
  border-radius: 0.6rem;
  background-color: var(--accent);
  color: var(--white);
  font-size: 1.4rem;
  text-transform: uppercase;
}

.button:focus {
  outline: none;
  transform: scale(1.005);
}

.validation {
  font-size: 1.2rem;
  color: maroon;
  height: 3rem;
  line-height: 3rem;
}

img {
  border: 1px solid black;
  border-radius: 5%;
}

.back-button {
  margin-top: 1.3rem;
  color: var(--accent);
}
